@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap');
:root{
  --bl:#239BD8;
  --gc:#A1A1A1;
}
.cont
{
max-width: 1920px;
}

.bg-blue{
  background-color: var(--bl);
  height: 14.3rem;
}
.pad0
{
  padding-top: 2.6rem;
 
}

.pad1{
  padding-left: 11.1rem;
 
}
.pad2{
  padding-right:2rem;
}
.mar1{
  margin-top: 38rem;
}

.fnt-48
{
font-size: 4.8rem;  
}
.fnt-24
{
font-size: 2.4rem;  
}

.line1
{
  height: 0.1rem;
  width: 42.7rem;
  background: white;
}
.img-dm1
{
width: 60.6rem;
height:47.8rem ;
}
.bl{
  color:var(--bl)
}
.fnt-40{
font-size: 3.6rem;
}
.line2
{
  height: 0.3rem;
  width: 42.7rem;
  background: var(--bl);
}
.w-30
{
width: 40%;
}
.cardc
{
  background-color: #F6F9FF;
  border: 0.1rem;
  border-style: solid;
  border-color: rgb(231, 231, 231);
  /* height:54.2rem; */
  border-radius: 1rem;
}
.cg{
  color:#1E9781;
}

.gap-c
{
  gap:4rem;
}
.colorg{
 color: #A1A1A1;
}
.mar2{
  margin-top: 12rem;
}